/Algorithms
/Controller.py
/environment.yml
/Hardware.py
/logo.jpg
/main.py
/MainUI.py
/Processing.py
/ProcessingThread.py
/Reference
/Replace Tester
/Setting up software on new laptop.docx
/Settings.py
/SettingsUI.py
/SpectrometerThread.py
/Switch.py
/system_config.yml
/temper.py
/temperature.csv
/UIStyling.txt
/Upload
/Upload 2
/__pycache__